**/build/
**/build-linux/
**/build-wsl/
**/.tools/
**/.venv-idf/
**/__pycache__/
**/sdkconfig
**/sdkconfig.old
**/sdkconfig.wifi
**/sdkconfig.wifi.old
**/sdkconfig.usb-network
**/sdkconfig.usb-network.old
**/build-wifi/
**/build-usb-network/
**/managed_components/
**/dependencies.lock
**/.idea/
**/.env
**/.env.*
!**/.env.example
/stm32f4_ros2/Middlewares/Third_Party/micro_ros/tools/microros_static_library/libmicroros/
/esp32s3_ros2/components/micro_ros_espidf_component/libmicroros.a
/esp32s3_ros2/components/micro_ros_espidf_component/include/
/esp32s3_ros2/components/micro_ros_espidf_component/micro_ros_dev/
/esp32s3_ros2/components/micro_ros_espidf_component/micro_ros_src/
/esp32s3_ros2/components/micro_ros_espidf_component/esp32_toolchain.cmake

/stm32f4_ros2/Middlewares/Third_Party/micro_ros/lib/*/
/esp32s3_ros2/lib/micro_ros/*/
