/build/
/.venv-idf/
/sdkconfig
/sdkconfig.old
/managed_components/
/dependencies.lock
/components/micro_ros_espidf_component/libmicroros.a
/components/micro_ros_espidf_component/include/
/components/micro_ros_espidf_component/micro_ros_dev/
/components/micro_ros_espidf_component/micro_ros_src/
/components/micro_ros_espidf_component/esp32_toolchain.cmake
/.tools/

/lib/micro_ros/*/
