# Apply on top of sdkconfig.defaults using a separate SDKCONFIG path.
CONFIG_APP_ROS_USB_RNDIS_UDP=y
CONFIG_APP_ROS_USB_DHCP_SERVER=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_APP_ROS_AGENT_IP="192.168.7.2"
CONFIG_APP_ROS_AGENT_PORT=8888
CONFIG_TINYUSB_NET_MODE_ECM_RNDIS=y
# CONFIG_TINYUSB_CDC_ENABLED is not set
